HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

### NPM ###
src/main/resources/static/node_modules
src/main/resources/static/node
src/main/resources/static/package-lock.json

#MAVEN
.mvn/**
